body {
	background-color: #bfbdae;
	color: #333;
	border: 0;
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #333;
	cursor: pointer;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
	margin: 0;
	color: #273961;
}

p {
	line-height: 1.6em;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

section .content {
	margin-right: 40%;
}
section {
	text-align: left;
}
header hgroup {
	position: absolute;
}
.container {
	max-width: 1024px;
} header h1 {
	font-size: 1.2em;
} header h2 {
	font-size: 1em;
}

.container {
	margin: 0 auto;
	text-align: center;
	overflow-x: visible;
	min-width: 320px;
	width: 100%;
}

section {
	margin-bottom: 4em;
} section h3 {
	font-size: 4em;
}

/* Clearfix */
section:before, section:after {
	content: ' ';
	display: table;
} section:after {
	clear: both;
} section {
	*zoom: 1;
}

/* Page header */
.container > header {
	background-image: url(mosaic-pic-zoom.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 280px;
} .container > header hgroup {
	text-align: left;
	left: 10%;
	top: 10%;
	font-size: 2em;
}

nav {
	background-color: rgba(250, 250, 250, 0.8);
	border-style: solid;
	border-width: 1px 0;
	border-color: #777;
	margin-bottom: 1.2em;
}  nav li {
	/* TODO: Polyfill for IE */
	display: inline-block;
	padding: 0 0.4em;
	margin: 0.3em 0;
	height: 1em;
}

footer {
	margin: 8em 0 5em 0;
	text-align: center;
}

/* Tile support */

#our-story header, #directions header,
#accomodations header, #gifts header {
	margin-bottom: 3em;
}
#our-story header h3, #directions header h3,
#accomodations header h3, #gifts header h3 {
	position: relative;
	text-align: right;
	padding-right: 0.5em;
} 
#our-story header img, #directions header img,
#accomodations header img, #gifts header img {
	position: absolute;
	right: 0;
	width: 40%;
}

/* Section-specific */

#our-story p {
	padding: 0 2%;
}

#our-story p {
	vertical-align: top;
	margin: 0 0 2em 0;
}

#wedding-party li {
	position: relative;

	display: inline-block;
	margin-bottom: 1.8em;
	padding: 0 1.2em;
	width: 48%;

	vertical-align: top;
} #wedding-party li img {
	border: solid 1px #333;
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 20px 20px 0;
} #wedding-party h4, #wedding-party h5 {
	line-height: 1em;
} #wedding-party h4 {
	margin-bottom: 0.3em;
	font-size: 1.9em;
} #wedding-party h5 {
	color: #777;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}
#wedding-party header:before, #wedding-party header:after {
	content: ' ';
	display: table;
} #wedding-party header:after {
	clear: both;
} #wedding-party header {
	*zoom: 1;
}



#schedule header {
	float: none;
	width: auto;
} #schedule h3 {
	position: static;
} #schedule table {
	border-collapse: collapse;
} #schedule td {
	background-color: #eee;
	border: solid 1px #444;
	padding: 1em 2em;
} #schedule td:first-child, #schedule th {
	text-align: center;
	padding: 1em;
	text-transform: uppercase;
	font-weight: bold;
} #schedule td.inactive {
	background-color: transparent;
} #schedule td.inactive {
	border-top-color: transparent;
} #schedule td.inactive:last-child {
	border-color: transparent;
} #schedule .title {
	display: block;
} #schedule .location {
	display: block;
	font-size: 0.8em;
}

#accomodations h4 {
	margin-bottom: 0.4em;
	text-transform: uppercase;
} #accomodations .contact-info {
	margin-bottom: 1em;
} #accomodations .contact-info li {
	display: inline-block;
	margin-left: 1em;
} #accomodations .contact-info li:first-child {
	margin-left: 0;
} #accomodations .contact-info li:before {
	font-weight: bold;
	content: '\00b7';
	margin-right: 1em;
} #accomodations .contact-info li:first-child:before {
	content: none;
} #accomodations table {
	margin: 0 auto;
} #accomodations th {
	text-align: center;
} #accomodations td {
	padding: 0.5em;
} #accomodations .name {
	display: block;
} #accomodations .desc {
	display: block;
}

#gifts ul {
	text-align: center;
} #gifts li {
	line-height: 1.8em;
}

/*
 * Breakpoints: 768px
 * 320px | Mobile | 768px | Tablet | 1024px | Desktop
 */
@media (max-width: 767px) {
	nav li {
		width: 25%;
	} nav li.home {
		line-height: 3.2em;
		float: left;
		margin: 0;
		height: 3.2em;
		width: 21%;
	}
	header img {
		width: 100%;
	}
	.container > header {
		background-image: url(mosaic-pic.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		font-size: 0.8em;
	} .container > header hgroup {
		top: 33%;
		position: relative;
	}

	section .content {
		margin-right: 0;
	}
	#our-story header, #directions header,
	#accomodations header, #gifts header {
		position: relative;
	}
	#our-story header .tiles, #directions header .tiles,
	#accomodations header .tiles, #gifts header .tiles {
		top: -75px;
	}
	#our-story header h3, #directions header h3,
	#accomodations header h3, #gifts header h3 {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}
	#our-story header img, #directions header img,
	#accomodations header img, #gifts header img {
		position: static;

		width: 100%;
	}


	#wedding-party li {
		display: block;
		width: auto;
	} #wedding-party header {
		margin-bottom: 1em;
	}
}
