body {
	background-color: #bfbdae;
	color: #333;
	border: 0;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/*
 * Breakpoints: 768px
 * 320px | Mobile | 768px | Tablet | 1024px | Desktop
 */

@media (max-width: 767px) {
	nav li {
		width: 25%;
	} nav li.home {
		line-height: 3.2em;
		float: left;
		margin: 0;
		height: 3.2em;
		width: 21%;
	}
	header img {
		width: 100%;
	}
	.container > header {
		background-image: url(mosaic-pic.jpg);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		width: 100%;
		font-size: 0.8em;
	} .container > header hgroup {
		top: 33%;
		position: relative;
	}
}

@media (min-width: 768px) {
	section {
		text-align: left;
	} section p {
		width: 60%;
		padding: 0 2%;
		display: inline-block;
	}
	.container {
		max-width: 1024px;
	}
	.container > header {
		background-image: url(mosaic-pic-zoom.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
	} .container > header hgroup {
		text-align: left;
		left: 10%;
		top: 10%;
		font-size: 2em;
	}
	header {
		float: right;
		width: 40%;
	} header img {
		width: 100%;
	} section header h3 {
		top: 0;
		padding: 0.5em 0;
		margin: 0;
	}
}

.container {
	margin: 0 auto;
	text-align: center;
	overflow-x: visible;
	min-width: 320px;
	width: 100%;
}

.container > header {
	height: 280px;
}

header {
	position: relative;
	min-height: 1em;
} header hgroup {
	position: absolute;
} header h1, h2 {
	margin: 0;
} header h1 {
	font-size: 1.2em;
} header h2 {
	font-size: 1em;
}

nav {
	background-color: rgba(250, 250, 250, 0.8);
	border-style: solid;
	border-width: 1px 0;
	border-color: #777;
	margin-bottom: 1.2em;
} nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}  nav li {
	/* TODO: Polyfill for IE */
	display: inline-block;
	padding: 0 0.4em;
	margin: 0.3em 0;
	height: 1em;
}

/* Clearfix */
section:before, section:after {
	content: ' ';
	display: table;
} section:after {
	clear: both;
} section {
	*zoom: 1;
}

section h3 {
	position: absolute;
	font-size: 4em;
	padding-top: 10%;
	top: 5%;
	left: 20%;
	color: #333;
} section p {
	line-height: 1.6em;
	vertical-align: top;
	margin: 0 0 2em 0;
}
