.tiles {
	position: relative;
	top: -10px;
	right: -10px;
}

.tile {
	width: 20px;
	height: 20px;
	position: absolute;
	border: solid 2px #bfbdae;
	box-sizing: border-box;
}
.tile-1 {
	background-color: #ff5a12;
} .tile-2 {
	background-color: #fc0;
} .tile-3 {
	background-color: #ccc;
} .tile-4 {
	background-color: #4598b2;
}
